In [1]:
#import all libraries including visualization
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path to project folder
path = r'C:\Users\tatal\06-2023 Instacart Basket Analysis'

In [3]:
#IMPORT part one
df_part_one = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_part_one_v2.pkl'))

In [11]:
#delete_merge column 
del df_part_one['_merge']

In [13]:
df_part_one.describe()

,user_id,Age,n_dependants,income,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,mean_price,median_days_last_order
count,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.516692e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620010e+07,1.620258e+07,1.620258e+07,1.620258e+07
mean,5.143543e+04,4.953181e+01,1.505995e+00,9.935587e+04,1.711011e+06,1.717462e+01,2.740237e+00,1.342648e+01,1.109487e+01,2.560031e+04,8.344923e+00,5.899881e-01,7.121879e+01,9.919328e+00,7.792292e+00,3.313257e+01,1.152540e+01,1.038758e+01
std,2.956295e+04,1.848735e+01,1.118212e+00,4.323287e+04,9.873789e+05,1.756365e+01,2.089511e+00,4.244561e+00,8.773778e+00,1.408072e+04,7.112823e+00,4.918355e-01,3.820313e+01,6.281408e+00,4.241080e+00,2.518232e+01,7.650002e+01,7.124607e+00
min,1.000000e+00,1.800000e+01,0.000000e+00,2.598600e+04,6.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00
25%,2.576200e+04,3.400000e+01,1.000000e+00,6.692700e+04,8.557590e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.356000e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387963e+00,6.000000e+00
50%,5.142200e+04,4.900000e+01,2.000000e+00,9.657800e+04,1.711201e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530500e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.823490e+00,8.000000e+00
75%,7.701000e+04,6.600000e+01,3.000000e+00,1.277510e+05,2.566463e+06,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254211e+00,1.300000e+01
max,1.026160e+05,8.100000e+01,3.000000e+00,5.939010e+05,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01,9.900000e+01,2.500542e+04,3.000000e+01

In [66]:
df_part_one['max_order'].max()

99

In [4]:
df_part_one.dtypes

user_id                     int32
first_name                 object
last_name                  object
Gender                     object
STATE                      object
Age                         int16
date_joined                object
n_dependants                 int8
fam_status                 object
income                      int32
order_id                    int32
order_number                int16
orders_day_of_week           int8
order_hour_of_day            int8
days_since_last_order     float32
product_id                  int16
add_to_cart_order           int16
reordered                    int8
product_name               object
aisle_id                    int16
department_id                int8
prices                    float32
price_range_loc            object
busiest_day                object
Busiest_days               object
busiest_period_of_day      object
max_order                   int16
loyalty_flag               object
mean_price                float32
spending_flag              object
median_days_last_order    float32
frequency_flag             object
dtype: object

In [19]:
# change type of user id to int64 to match orders file
df_part_one['user_id'] = df_part_one['user_id'].astype('int32')

In [21]:
# change type of user id to int64 to match orders file
df_part_one['Age'] = df_part_one['Age'].astype('int16')

In [28]:
# change type of user id to int64 to match orders file
df_part_one['order_id'] = df_part_one['order_id'].astype('int32')

In [29]:
# change type of user id to int64 to match orders file
df_part_one['income'] = df_part_one['income'].astype('int32')

In [32]:
# change type of user id to int64 to match orders file
df_part_one['n_dependants'] = df_part_one['n_dependants'].astype('int8')

In [35]:
# change type of user id to int64 to match orders file
df_part_one['order_number'] = df_part_one['order_number'].astype('int16')

In [38]:
# change type of user id to int64 to match orders file
df_part_one['orders_day_of_week'] = df_part_one['orders_day_of_week'].astype('int8')

In [42]:
# change type of user id to int64 to match orders file
df_part_one['order_hour_of_day'] = df_part_one['order_hour_of_day'].astype('int8')

In [44]:
# change type of user id to int64 to match orders file
df_part_one['days_since_last_order'] = df_part_one['days_since_last_order'].astype('float32')

In [47]:
df_part_one['product_id'] = df_part_one['product_id'].astype('int16')

In [50]:
df_part_one['add_to_cart_order'] = df_part_one['add_to_cart_order'].astype('int16')

In [55]:
df_part_one['reordered'] = df_part_one['reordered'].astype('int8')

In [58]:
df_part_one['aisle_id'] = df_part_one['aisle_id'].astype('int16')

In [61]:
df_part_one['department_id'] = df_part_one['department_id'].astype('int8')

In [64]:
df_part_one['prices'] = df_part_one['prices'].astype('float32')

In [67]:
df_part_one['max_order'] = df_part_one['max_order'].astype('int16')

In [71]:
df_part_one['mean_price'] = df_part_one['mean_price'].astype('float32')

In [72]:
df_part_one['median_days_last_order'] = df_part_one['median_days_last_order'].astype('float32')

In [75]:
#export first product order id
df_part_one.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_part_one_v2.pkl'))

In [5]:
#IMPORT part two
df_part_two = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_part_two_v3.pkl'))

In [78]:
#delete_merge column 
del df_part_two['_merge']

In [6]:
df_part_two.dtypes

user_id                     int32
first_name                 object
last_name                  object
Gender                     object
STATE                      object
Age                         int16
date_joined                object
n_dependants                 int8
fam_status                 object
income                      int32
order_id                    int32
order_number                int16
orders_day_of_week           int8
order_hour_of_day            int8
days_since_last_order     float32
product_id                  int16
add_to_cart_order           int16
reordered                    int8
product_name               object
aisle_id                    int16
department_id                int8
prices                    float32
price_range_loc            object
busiest_day                object
Busiest_days               object
busiest_period_of_day      object
max_order                   int16
loyalty_flag               object
mean_price                float32
spending_flag              object
median_days_last_order    float32
frequency_flag             object
dtype: object

In [80]:
# change type of user id to int64 to match orders file
df_part_two['user_id'] = df_part_two['user_id'].astype('int32')

In [82]:
# change type of user id to int64 to match orders file
df_part_two['Age'] = df_part_two['Age'].astype('int16')

In [84]:
# change type of user id to int64 to match orders file
df_part_two['order_id'] = df_part_two['order_id'].astype('int32')

In [86]:
# change type of user id to int64 to match orders file
df_part_two['income'] = df_part_two['income'].astype('int32')

In [88]:
# change type of user id to int64 to match orders file
df_part_two['n_dependants'] = df_part_two['n_dependants'].astype('int8')

In [90]:
# change type of user id to int64 to match orders file
df_part_two['order_number'] = df_part_two['order_number'].astype('int16')

In [92]:
# change type of user id to int64 to match orders file
df_part_two['orders_day_of_week'] = df_part_two['orders_day_of_week'].astype('int8')

In [94]:
# change type of user id to int64 to match orders file
df_part_two['order_hour_of_day'] = df_part_two['order_hour_of_day'].astype('int8')

In [95]:
# change type of user id to int64 to match orders file
df_part_two['days_since_last_order'] = df_part_two['days_since_last_order'].astype('float32')

In [96]:
df_part_two['product_id'] = df_part_two['product_id'].astype('int16')

In [97]:
df_part_two['add_to_cart_order'] = df_part_two['add_to_cart_order'].astype('int16')

In [99]:
df_part_two['reordered'] = df_part_two['reordered'].astype('int8')

In [100]:
df_part_two['aisle_id'] = df_part_two['aisle_id'].astype('int16')

In [101]:
df_part_two['department_id'] = df_part_two['department_id'].astype('int8')

In [102]:
df_part_two['prices'] = df_part_two['prices'].astype('float32')

In [104]:
df_part_two['max_order'] = df_part_two['max_order'].astype('int16')

In [105]:
df_part_two['mean_price'] = df_part_two['mean_price'].astype('float32')

In [107]:
df_part_two['median_days_last_order'] = df_part_two['median_days_last_order'].astype('float32')

In [114]:
#export first product order id
df_part_two.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_part_two_v3.pkl'))

In [115]:
df_part_one.shape

(16202575, 32)

In [116]:
df_part_two.shape

(16202284, 32)

In [117]:
df_part_one['user_id'].max()

102616

In [118]:
df_part_one['user_id'].min()

1

In [9]:
df_part_two['user_id'].min()

102617

In [10]:
df_part_two['user_id'].max()

206209

In [7]:
#create a list containing the database we want to concat
frames = [df_part_one, df_part_two]

In [8]:
# use df_concat to concat the list
df_concat = pd.concat(frames)

In [9]:
df_concat.shape

(32404859, 32)

In [14]:
df_concat.head()

,user_id,first_name,last_name,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,...,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_last_order,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [122]:
df_concat['user_id'].min()

1

In [123]:
df_concat['user_id'].max()

206209

In [8]:
#create a sample of the data - 70/30 sample
np.random.seed(4)
dev = np.random.rand(len(df_concat)) <= 0.7

In [18]:
##small sample
small = df_concat[~dev]

MemoryError: Unable to allocate 989. MiB for an array with shape (4, 32404859) and data type float64

In [10]:
df_concat.dtypes

user_id                     int32
first_name                 object
last_name                  object
Gender                     object
STATE                      object
Age                         int16
date_joined                object
n_dependants                 int8
fam_status                 object
income                      int32
order_id                    int32
order_number                int16
orders_day_of_week           int8
order_hour_of_day            int8
days_since_last_order     float32
product_id                  int16
add_to_cart_order           int16
reordered                    int8
product_name               object
aisle_id                    int16
department_id                int8
prices                    float32
price_range_loc            object
busiest_day                object
Busiest_days               object
busiest_period_of_day      object
max_order                   int16
loyalty_flag               object
mean_price                float32
spending_flag              object
median_days_last_order    float32
frequency_flag             object
dtype: object

In [11]:
#export second
df_concat.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'full_file.pkl'))