In [1]:
#import all libraries including visualization
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path to project folder
path = r'C:\Users\tatal\06-2023 Instacart Basket Analysis'

In [3]:
#IMPORT order_product file
df_cuto_first = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_custo_first_id.pkl'))

In [4]:
#IMPORT order_product file
df_order_first = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_first_id.pkl'))

In [8]:
df_part_one = df_cuto_first.merge(df_order_first, on = 'user_id', indicator = True)

In [5]:
df_cuto_first.shape

(102616, 10)

In [6]:
df_order_first.shape

(16202575, 23)

In [9]:
df_part_one.shape

(16202575, 33)

In [10]:
df_part_one.head()

,user_id,first_name,last_name,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,...,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_last_order,frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [11]:
#export first product order id
df_part_one.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_part_one.pkl'))

In [12]:
df_part_one['user_id'].max()

102616

In [13]:
df_part_one.describe()

,user_id,Age,n_dependants,income,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,mean_price,median_days_last_order
count,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.516692e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620258e+07,1.620010e+07,1.620258e+07,1.620258e+07,1.620258e+07
mean,5.143543e+04,4.953181e+01,1.505995e+00,9.935587e+04,1.711011e+06,1.717462e+01,2.740237e+00,1.342648e+01,1.109487e+01,2.560031e+04,8.344923e+00,5.899881e-01,7.121879e+01,9.919328e+00,7.792292e+00,3.313257e+01,1.152540e+01,1.038758e+01
std,2.956295e+04,1.848735e+01,1.118212e+00,4.323287e+04,9.873789e+05,1.756365e+01,2.089511e+00,4.244561e+00,8.773778e+00,1.408072e+04,7.112823e+00,4.918355e-01,3.820313e+01,6.281408e+00,4.241080e+00,2.518232e+01,7.650002e+01,7.124607e+00
min,1.000000e+00,1.800000e+01,0.000000e+00,2.598600e+04,6.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00
25%,2.576200e+04,3.400000e+01,1.000000e+00,6.692700e+04,8.557590e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.356000e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387963e+00,6.000000e+00
50%,5.142200e+04,4.900000e+01,2.000000e+00,9.657800e+04,1.711201e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530500e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.823490e+00,8.000000e+00
75%,7.701000e+04,6.600000e+01,3.000000e+00,1.277510e+05,2.566463e+06,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254211e+00,1.300000e+01
max,1.026160e+05,8.100000e+01,3.000000e+00,5.939010e+05,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01,9.900000e+01,2.500542e+04,3.000000e+01